.Quiz-Footer {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.Quiz-Button {
    margin-right: 8px;
}

.Quiz-ScoresProgress {
    display: flex;
    justify-content: flex-end;

    margin-right: 100px;
}

.Quiz-Progress {
    padding: 16px 20%;
}