.ant-list-item.QuestionsList-Item {
    display: flex;
    justify-content: space-between;
}

.ant-list.QuestionsList {
    margin-bottom: 16px;
}

.ant-spin.QuestionsList-Spin {
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;
}