.Question {
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.Question-Answers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
}